@model Incercareax.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfVolunteersNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVolunteersNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfActivities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfActivities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllocatedVolunteers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedVolunteers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID })|
    @Html.ActionLink("Back to List", "Index")
</p>
