@model IEnumerable<Incercareax.Models.Event>

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Event/", FormMethod.Get))
 {
        @Html.TextBox("searching")<input type="submit" value="Search" />
 }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfVolunteersNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfActivities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3 " style="color:red">
                There is no event with such name!
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfVolunteersNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfActivities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID }) |
                    @Html.ActionLink("Allocate Volunteers", "VolunteerAllocation", new { id = item.EventID })
                </td>
            </tr>
        }
    }
</table>
