@model Incercareax.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desired_workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desired_workplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field_of_activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field_of_activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.HasContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.HasContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.NumberOfRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.NumberOfRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation.MailAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInformation.MailAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additionalinfo.HasCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.HasCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additionalinfo.HasDrivingLicence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additionalinfo.HasDrivingLicence)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>