@model IEnumerable<Incercareax.Models.Volunteer>

@{
    ViewBag.Title = "Birthday";
}

<h2>Birthdays</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
        //TREBUIE FACUT IF ul PEntru Birthday
        //var month = DateTime.Today.Month;
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VolunteerID })
            </td>
        </tr>
    }

</table>
